<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sixth_sense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
         <!--  Login Activity -->
        <activity
            android:label="Login Account"
            android:name="com.example.sixth_sense.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity
            android:name="com.example.sixth_sense.MainActivity"
            android:label="Sixth sense" >
        </activity>
        <!-- All Product Activity -->
        <activity
            android:name="com.example.sixth_sense.AllProductActivity"
            android:label="All Products">
            
        </activity>
        <!-- Add New Product Activity -->
        <activity
            android:name="com.example.sixth_sense.NewProductActivity"
            android:label="Add New Product">
            
        </activity>
              
    </application>
<!-- Internet Permission -->

 
</manifest>
